$header-bg-logo: #111111;
$header-bg-menu: #FBB03B;
$header-bg-fon: #2D3239;

$font: 'Roboto', sans-serif;
$fontSize: 16px;
$lineHeight: 26px;
$textColor: #323232;

$textColorGreen: #00742F;
$textColorYellow: #FBB03B;
$textColorRed: #C40008;